*{
    margin:0;
    padding: 0;
    
    
}
.label{
    font-size:20px;
    color:#00A9FF;
}
.form{
    background-color:#9EDDFF
}
.title{
   background-color:#00A9FF;
    color:white;
}