*{
    font-family:"poppins";
}
body{
    background-color:#172C54;

}
.error{
    color:red;
}
.heading{
    
    color:white;
}
.form-label{
    color:white;
    font-size:22px;
}
.sign_div{
    border: 1px solid white;
    width:40%;
    margin-left:450px;
    margin-top:150px;
    box-shadow: 5px 15px 25px rgba(0,0,0,1.5);
    padding:10px;
}
.form-input{
    width: 80%;
    text-align: center;

}
.form_div{
    margin-left:50px;
}
.sign_div:hover{
    transform: scale(1.1);
}