*{
    font-family:"poppins";
}
.cont{
    display: flex;
    align-items: center;
}
.title{
    text-align: center;
    background-color:#00A9FF;
    color:white;
}
.label{
    font-size:20px;
    color:#00A9FF;
}