<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee database</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9fe3d1bfff.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9fe3d1bfff.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
  </head>
  <style>
    .table {
          width: 100%;
          table-layout: fixed; /* Fix the table layout */
      }

      .table td,
      .table th {
           /* Adjust padding as needed */
          font-size: 14px; /* Adjust font size as needed */
          white-space: nowrap; /* Prevent text wrapping */
          overflow: hidden; /* Hide any overflowing content */
          text-overflow: ellipsis; /* Show ellipsis for overflow */
      }
  </style>
  <body>
    <div class="first_div">
      {% include 'sidemenu.html'%}
      <div style="margin-left:100px;">
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
              
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                <form class="d-flex col-8 my-2" role="search">
                  <input class="form-control me-2" type="search" id="search_bar" placeholder="Search by Name" aria-label="Search">
                  
                </form>
              </div>
            </div>
          </nav>
        </div>
        <h2 class="filters_title my-3" >Employee's Data</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category == 'error' %}
                <div class="alert alert-danger add_flash_message" role="alert" >
                  {{ message }}
                </div>
              {% elif category == 'success' %}
                <div class="alert alert-success add_flash_message" role="alert" >
                  {{ message }}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
      
        <div class="filter_div" style="margin-bottom: 30px;">
          <div class=" filter">
            <div >
              <label for="project" class="label">Project:</label>
              <select name="project" id="project" class="select_project">
                  <option value="">Select</option>
              </select>
              
          </div>
            
            <div>
              <label for="designation" class="label">Designation:</label>
              <select name="designation" id="designation">
                <option value="">Select</option>
              </select>
              
            </div>
            
            <div>
              <label for="employment_status" class="label">Employment Status:</label>
              <select name="employment_status" id="employment_status">
                <option value="">Select</option>
                
              </select>
              
            </div>
            <div>
              <label for="status" class="label">Status:</label>
              <select name="status" id="status">
                <option value="">Select</option>
                
              </select>
            </div>
            
            <div>
            
      
              <label for="location" class="label">Location:</label>
              <select name="location" id="location">
                <option value="">Select</option>
                
              </select>
            </div>
      
            <div>
              <label for="month_active_filter" class="select_month label" style="color: #00A9FF;">Month:</label>
              <select name="month_active" id="month_active_filter" class="select_month_value" onchange="filterByMonth('active')">
                <option value="">Select</option>
                <option value="january" class="month_value">January</option>
                <option value="february" class="month_value">February</option>
                <option value="march" class="month_value">March</option>
                <option value="april" class="month_value">April</option>
                <option value="may" class="month_value">May</option>
                <option value="june" class="month_value">June</option>
                <option value="july" class="month_value">July</option>
                <option value="august" class="month_value">August</option>
                <option value="september" class="month_value">September</option>
                <option value="october" class="month_value">October</option>
                <option value="november" class="month_value">November</option>
                <option value="december" class="month_value">December</option>
                </select>
            </div>
            
            <div>
              <label for="month_active" class="label" >Month + active</label>
              <input type="date" id="month_active_datepicker" oninput="filter('active')">
            </div>
      
            <div>
              <label for="month_resigned"   class="label">Month + Resigned</label>
              <input type="date" id="month_resigned_datepicker" oninput="filters('resigned')">
            </div>
          </div>
          

        </div>
       
        
          
        <div class="table my-4" >
          <table class="table highlighted_row">
            <thead>
              <tr>
                <th scope="col" class="table_header">Sno</th>
                <th scope="col" class="table_header" >Emp_id</th>
                <th scope="col" class="table_header">Name</th>
                <th scope="col" class="table_header">Designation</th>
                <th scope="col" class="table_header">Department</th>
                <th scope="col" class="table_header">Project</th>
                <th scope="col" class="table_header">Job_role</th>
                <th scope="col" class="table_header">Employment_status</th>
                <th scope="col" class="table_header">Joining_date</th>
                <th scope="col" class="table_header">Experience</th>
                <th scope="col" class="table_header">Location</th>
                <th scope="col" class="table_header">Last_promoted</th>
                <th scope="col" class="table_header">Comments</th>
                <th scope="col" class="table_header">Edit</th>
                <!-- <th scope="col" class="table_header">Delete</th> -->
                <th scope="col" class="table_header">View</th>
                <th hidden>Empl</th>
              </tr>
            </thead>
            <tbody>
            
              {% for employee in data.items %}
              <tr {% if employee.employee_status == 'resigned' %}style="background-color: red;"{% endif %}>
                <th scope="row" >{{loop.index}}</th>
                <td class="emp_id" class="table-primary">{{employee.Emp_id}}</td>
                <td id="Name">{{employee.Name}}</td>
                <td id="Designation">{{employee.Designation}}</td>
                <td>{{employee.Department}}</td>
                <td id="Project">{{employee.Project}}</td>
                <td>{{employee.Job_role}}</td>
                <td id="employment_status">{{employee.Employment_status}}</td>
                <td id="joining_date">{{employee.Joining_date}}</td>
                <td>{{employee.Experience}}</td>
                <td id="employee_location">{{employee.Location }}</td>
                <td>{{employee.Last_promoted }}</td>
                <td>{{employee.Comments}}</td>
                <td id="employee_status" hidden>{{employee.employee_status}}</td>
                <!-- <td><a href="" type="button" class="btn btn-outline-secondary btn-sm mx-1">Update</button></td> -->
                <td><a class="icon-1" href="/update/{{employee.Sno}}"><i class="fa-solid fa-pencil mx-2"></i></a></td>  
                <!-- <td><a href="/delete/{{employee.Sno}}"><i class="fa-solid fa-trash mx-2"></i></a></td> -->
                <td><a class="icon-2" href="/view/{{employee.Sno}}"><i class="fa-solid fa-eye mx-2"></i></a></td>
                  <!-- <td><a href="" type="button" class="btn btn-outline-secondary btn-sm mx-1">Delete</button></td>   -->
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
            <div style="display: flex; align-items: center;">
              <div style="margin-left:600px; margin-top:100px;" id="paginationLinks">
                {% for page_num in data.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
                  {% if page_num %}
                    {% if data.page == page_num%}
                      <a class="btn btn-outline-info mb-4" href="{{url_for('Home',page=page_num,pages=pages)}}" >{{page_num}}</a>
                    {% else %}
                      <a class="btn btn- mb-4" href="{{url_for('Home',page=page_num,pages=pages)}}" >{{page_num}}</a>
                    {% endif %}
                  {% else%}
                    ...
                  {% endif %}
                {% endfor %} 
              </div>
              
                <!-- <div style="margin-top:80px; margin-left: 20px;">
                    <form id="pageForm" action="/home" method="post">
                      <select id="page" name="page">
                        <option value="">Select</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                      </select>
                    </form>
                    
                  
                </div> -->
              
            </div>
        </div>
          <div style="display: flex; align-items: center; margin-left:200px;">
            <div>
              <a type="button" href="/add" class="btn btn-primary " style="margin-left:400px; margin-top:30px;margin-right:20px;">Add a new user</a>
            </div>
            <div>
              <a type="button" href="/bulk" class="btn btn-primary mx-3" style="margin-top:30px">Bulk add</a>
            </div>
            
          </div>
         
        
          <!-- <a href="/add" type="button" class="btn btn-primary my-3 mx-3">Add a new user</button>
          <a href="/bulk" type="button" class="btn btn-primary my-3">Bulk add</button>  -->
            
        </div>  
      </div>
    </div>
    <script src="{{ url_for('static', filename='config.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
