<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <h1>Intro call details</h1>
    <div class="table-responsive my-4">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Filename</th>
                    <th scope="col">Name</th>
                    <th scope="col">Contact number</th>
                    <th scope="col">Actual CTC</th>
                    <th scope="col">Expected CTC</th>
                    <th scope="col">Expected CTC</th>
                    <th scope="col">Location</th>
                    <th scope="col">Action</th>
                    <th scope="col">introcall</th>
                    <th scope="col">Interview 1</th>
                    <th scope="col">Interview 2</th>
                </tr>
            </thead>
            <tbody>
               
                    <tr>
                        <td>hell</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a class="btn btn-primary mx-1">View</a>
                            <a href="/introcall" class="btn btn-primary mx-1">Intro call</a>
                            <a href="/interview1" class="btn btn-primary mx-1">Interview 1</a>
                            <a href="/interview2" class="btn btn-primary my-3">Interview 2</a>
                        </td>
                       <td><a href="/introcallv" class="btn btn-primary mx-1">view</a></td>
                       <td><a href="/interview1v" class="btn btn-primary mx-1">view</a></td>
                       <td><a href="/interview2v" class="btn btn-primary mx-1">view</a></td>
                    </tr>
                
            </tbody>
        </table>
    </div>  
</body>
</html>